<div class="container" >
    <div class="row justify-content-center " >
      <div class="form-bg col-md-5" >
        <form [formGroup]='feedbackForm' (ngSubmit)="PostData(feedbackForm)" >
        <h2 class="text-center" style="margin-top: 49px;">Feedback Form</h2>
        <br>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Name" 
          formControlName="name" required >
          <span *ngFor="feedbackForm.control['name'].haserror(required)">Name required!</span>
          <input type="text" class="form-control" placeholder="Email" 
         formControlName="email" required  email >
          <span class="help-bpx" >Please enter valid email</span>
          <textarea rows="5" class="form-control" placeholder="Enter the Feedback" 
          formControlName="feedback" required ></textarea>
           </div>             
          <button class="btn btn-primary" style="margin:16px"
           id="Register" [disabled]="!feedbackForm.valid" >Send</button>
        </form>       
      </div>
    </div>
  </div>
